.App {
  background-color: black;
  height: 100vmax;
}
h1 {
  color: white;
}

.line-through {
  text-decoration: line-through;
}

.bold {
  font-weight: bold;
  color:orange;
}

.italic {
  font-style: italic;
}